.container-fluid{"ng-app" => "trafficApp"}
  .panel.panel-success
    .panel-heading
      .h1{"ng-if" => "name"}Hello, {{name}}
    .panel-body
      %form.form-inline
        .form-group
          %input.form-controli{ "type" => "text", "placeholder" => "Enter your name", "autofocus"=>true, "ng-model" => "name" }
